APP_BASE_URL=https://businesshealthassessment.web.app
SUPPORT_EMAIL=support@marketatomy.com
MAIL_COLLECTION=mail

# Stripe keys from https://dashboard.stripe.com/apikeys
# Loaded from this file on deploy. Do not use Google Secret Manager.
STRIPE_SECRET_KEY=sk_test_replace_me
STRIPE_WEBHOOK_SECRET=whsec_replace_me_if_using_webhooks
STRIPE_LIVE_PRODUCT_ID=prod_replace_me
STRIPE_LIVE_PRICE_ID=price_replace_me
STRIPE_LIVE_COUPON_ID=BETA2026
